/* START OF MAIN */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #F5F5F5;
    max-width: 108em;
    margin: auto;    
}

body {
    font-family: Inter, sans-serif;
    color: #1d1d1d;
    
    background-size: 25% 100%;
    background-image: linear-gradient(90deg, #DBDBDB 0.1px, rgba(48, 48, 48, 0) 1px);
    border-right: solid 1px rgba(48, 48, 48, 0);
    background-position: left;
    
    margin: 0 4em;
}

@media (max-width: 58.5em) {
    body {
        margin: 0 2em;
    }
}

::selection {
    background: #FFC700; 
}

.placeholder-fill {
    background-color: #FF6275;
}

.salmon {
    color: #FF6275;
}

.blue {
    color: #1A5AFD;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #1A1A1A;
    margin: 0;
}

@media (min-width: 58.5em) {
    h1 {
        font-size: 3.5em;
    }
}

@media (max-width: 58.5em) {
    h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 28.5em) {
    h1 {
        font-size: 2em;
    }
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 1.25em;
    color: #1A5AFD;
    margin-bottom: 0.5em;
    font-family: Montserrat, sans-serif;
    font-weight: 500
}

a {
    text-decoration: none;
}

p a {
    color: #1A5AFD;
}

p a:active, p a:focus, p a:hover {
    color: #0029FF;
    text-decoration: underline;
}

p {
    line-height: 1.5em;    
    font-size: 0.95em;
    margin-bottom: 1em;
}

ul {
    list-style-type: circle;
}

ol {
    list-style: lower-roman;
}

img {
    max-width: 100%;
}

.row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
}

.nav-bar {
    padding-top: 2em;
    padding-bottom: 2em;
    position: sticky;
    top: 0;
    background: #F5F5F5;
    outline: 1px solid #F5F5F5;
}

.logo div {
    text-align: left;
}

.logo div:hover, .logo div:focus, .logo div:active {
    color: #1A5AFD;
    transition: 0.3s;
}

.logo a {
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.75em;
    letter-spacing: -0.03em;
}

.nav {
    
    text-align: right;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
}

.button {
    font: 0.8em "Inter", sans-serif;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    letter-spacing: 1px;
}

@media (min-width: 58.5em) {
    .logo {
        flex: 1 0 25%;
    }
    
    .nav-bar {
        align-items: baseline;
    }
    
    .nav {
        flex: 1 0 25%;
        flex-flow: row;
        justify-content: flex-end;
    }
    
    .button {
        padding: 1em;
    }
}

@media (max-width: 58.5em) {
    .nav-bar p {
        display: none;
    }
    
    .logo {
        flex: 1 0 25%;
        line-height: 1.85em;
    }
    
    .nav-bar {
        align-items: center;
        
        padding-bottom: 1em;
        padding-top: 1.65em;
    }
    
    .nav {
        flex: 1 0 25%;
        flex-flow: row;
        justify-content: flex-end;
    }
    .button {
        padding: 1em;
    }
}


@media (max-width: 28.5em) {
    .logo {
        flex: 1 0 50%;
        line-height: 1.65em;
    }
    
    .nav-bar {
        align-items: center;
        padding-bottom: 1em;
        padding-top: 1.8em;
    }
    
    .nav {
        flex: 1 0 50%;
        flex-flow: column;
        max-width: 25
    }
    .button {
        padding: 0.5em 0.75em;
    }
}



.button:active, .button:focus, .button:hover {
    color: #ffffff;
    background: #1a5afd;
    text-decoration: underline;
    
    transition: background 0.2s, color 0.2s;
}

#current-page {
    color: #1A5AFD;
}

#current-page:active, #current-page:focus, #current-page:hover {
    background: #ffffff;
    text-decoration: underline;
}

.banner-title {
    text-align: left;
    flex: 1 1 100%;
    margin-top: 4em;
    margin-right: 10%;
    max-width: 64em;
}

@media (min-width: 58.5em) {
    .banner-title {
        margin-bottom: 8em;
    }
}

@media (max-width: 58.5em) {
    .banner-title {
        margin-bottom: 4em;
    }
}


.banner-title h1 {
    margin-bottom: 1em;
}

footer {    
    margin-top: 4em;
    padding: 2em 0;
    
    box-shadow: 0 0 0 100vmax #ededed;
    background: #ededed;
    clip-path: inset(0 -100vmax);
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
}

footer h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    padding: 0;
}

footer p {
    margin: auto;
}

@media (min-width: 58.5em) {
    
    .contact {
        flex: 1 0 25%;
        margin-bottom: 1em;    
    }
    
    .status {
        flex: 3 0 75%;
        margin-bottom: 1em;
    }

}

@media (max-width: 58.5em) {
    
    .contact {
        flex: 1 0 100%;
    }
    
    .status {
        flex: 1 0 100%;
        padding-top: 2em;
    }

}

/* END OF MAIN */

/* START OF WHAT - HOMEPAGE CONTENT */

.proj {
    padding-top: 0.5em;
    margin-bottom: 4em;
}

.proj h2 {
    padding-bottom: 0.5em;
}

@media (min-width: 69em) {
    .proj {
        width: 75%;
    }
}

@media (max-width: 69em) {
    .proj {
        width: 100%;
    }
}

.proj:active, .proj:focus, .proj:hover {
    background-color: rgba(0, 102, 255, 0.1);
}

.proj:active h2, .proj:focus h2, .proj:hover h2 {
    text-decoration: underline;
}

.proj img {
    width: 100%;
    
}

.proj-info {
    width: 100%;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    justify-content: flex-start;
}


.proj-info p {
    color: #757575;
}

@media (min-width: 69em) {
    .proj-info {
        flex-flow: row;
    }
    
    .proj-info h2 {
        flex: 2 0 66.6%;
        padding-right: 1em;
        margin-top: 0;
    }
    
    .proj-info p {
        flex 1 0 33.3%;
        padding-right: 1em;
        margin-top: 0;
    }
    
    .proj .placeholder {
        height: 24em;
    }
}

@media (max-width: 69em) {
    .proj-info {
        flex-flow: column;
    }
    
    .proj-info h2  {
        flex: 1 0 100%;
        padding-right: 1em;
        margin-top: 0.25em;
    }
    
    .proj .placeholder {
        height: 18em;
    }
}

/* END OF WHAT - HOMEPAGE CONTENT */

/* START OF WHO - ABOUT PAGE */

@media (min-width: 69em) {
    .bio {
        width: 100%;
    }
    
    .bio h2 {
        margin-bottom: 1em;
    }

    .bio img {    
        flex: 1 0 100%;
        width: 75%;
        margin-bottom: 1em;
    }
    
    .column {
        flex-direction: column;
        flex: 1 1 25%;
    }

    .about {
        width: 50%;
        margin-top: 2em;
    }

    .intro, .principles {
        padding-right: 1.5em;
    }

    .principles h3 {
        margin-bottom: 1.25em;
    }

    .principles h4 {
        padding-right: 0.5em;
    }

    .principle {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        flex-wrap: -webkit-wrap;
        flex-wrap: -ms-wrap;
        flex-wrap: wrap;

        flex-direction: column;

        margin-bottom: 1em;
    }

    .principle h3, .principle p {
        flex: 1 1 50%
    }
}

@media (max-width: 69em) {
    .bio {
        width: 100%;
    }
    
    .bio h2 {
        margin-bottom: 1em;
    }

    .bio img {    
        flex: 1 1 100%;
        width: 100%;
    }
    
    .column {
        flex-direction: column;
        flex: 1 1 25%;
    }

    .about {
        width: 100%;
        margin-top: 2em;
    }

    .intro, .principles {
        padding-right: 2em;
    }

    .principles h3 {
        margin-bottom: 1.25em;
    }

    .principles h4 {
        padding-right: 0.5em;
    }

    .principle {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        flex-wrap: -webkit-wrap;
        flex-wrap: -ms-wrap;
        flex-wrap: wrap;

        flex-direction: column;

        margin-bottom: 1em;
    }

    .principle h3, .principle p {
        flex: 1 1 50%
    }
}

@media (max-width: 40em) {
    .bio {
        width: 100%;
    }
    
    .bio h2 {
        margin-bottom: 1em;
    }

    .bio img {    
        flex: 1 1 100%;
        width: 100%;
        margin-bottom: 2em;
    }
    
    .bio .row {
        flex-direction: column;
    }
    
    .column {
        flex-direction: column;
        flex: 1 1 25%;
    }

    .about {
        width: 100%;
        margin-top: 2em;
    }
    

    .intro, .principles {
        padding-right: 2em;
        margin-bottom: 4em;
    }

    .principles h3 {
        margin-bottom: 1.25em;
    }

    .principles h4 {
        padding-right: 0.5em;
    }

    .principle {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;

        flex-wrap: -webkit-wrap;
        flex-wrap: -ms-wrap;
        flex-wrap: wrap;

        flex-direction: column;

        margin-bottom: 1em;
    }

    .principle h3, .principle p {
        flex: 1 1 50%
    }
}

/* END OF WHO - ABOUT PAGE */

/* START OF PROJECT CASE STUDY */


/** LIGHTBOX MARKUP written by Gregory Shier https://codesalad.dev/blog/how-to-create-an-image-lightbox-in-pure-css-25#_
/** Modified by Siloam Yeung **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox picture, .lightbox img, .lightbox figure, .lightbox video {
	/** Pad the lightbox image */
    position: fixed;
    max-width: 90vw;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/** END OF LIGHTBOX MARKUP **/


@media (min-width: 58.5em) {
    .article.row {
        flex-flow: row;
    }
    
    .row .backbutton {
        flex: 1 0 25%;
    }

    .row .casestudy {
        flex: 3 0 75%;
        margin-top: 3em;
    }

    .casestudy .content {
        max-width: 66.6%;
    }
    
    .backbutton .button {
        position: sticky;
        top: 12em;
    }
}

@media (max-width: 58.5em) {
    .article.row {
        flex-flow: column;
        margin-top: 2em;
    }
    
    .row .backbutton {
        flex: 1 0 100%;
        margin-bottom: 2em;
    }

    .row .casestudy {
        flex: 3 0 100%;
    }

    .casestudy .content {
        max-width: none;
    }
}

.casestudy .header {
    margin-bottom: 2em;
}

.casestudy .header h3 {
    margin: 0.25em 0 1em 0;
}

.casestudy h4, .casestudy .content p {
    margin: 1.5em 0;
}


.casestudy .content h4 {
    margin-top: 2em;
}

.casestudy .content ul {
    padding-left: 2em;
}

ul li {
    margin-bottom: 0.5em;
}

.nextprojectbutton {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    flex-direction: row;
    
    background: #F5F5F5;
    border: solid 1px #dbdbdb;
    border-right: solid 1px rgba(48, 48, 48, 0);
    margin-top: 2em;
}

.nextprojectbutton h3 {
    font-size: 1.5em;
}

.nextprojectbutton h4 {
    font-size: 1em;
}

.nextprojectbutton:active, .nextprojectbutton:hover, .nextprojectbutton:focus {
    background: #1A5AFD;
    
    transition: background 0.5s
}

.nextprojectbutton:active h2, .nextprojectbutton:hover h2, .nextprojectbutton:focus h2, .nextprojectbutton:active h3, .nextprojectbutton:hover h3, .nextprojectbutton:focus h3, .nextprojectbutton:active h4, .nextprojectbutton:hover h4, .nextprojectbutton:focus h4 {
    color: #ffffff;
    opacity: 1;
    display: block;
    
    transition: color 0.2s, opacity 0.2s;
}

.nextprojectbutton .title {
    flex: 1 0 25%;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
    
    padding: 2.5em;
}

.nextprojectbutton .title p {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}

.nextprojectbutton .project {
    flex: 3 0 75%;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    flex-direction: column;
    
    justify-content: space-around;
    align-items: baseline;
    vertical-align: baseline;
    
    padding: 2.5em;
}

/* END OF PROJECT CASE STUDY */
