* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #e4e4e4;
    max-width: 108em;
    margin: auto;    
}

body {
    font-family: Helvetica, sans-serif;
    color: #1d1d1d;
    
    background-size: 25% 100%;
    background-image: linear-gradient(90deg, #C9C9C9 0.1px, rgba(48, 48, 48, 0) 1px);
    border-right: solid 1px rgba(48, 48, 48, 0);
    background-position: left;
    margin: 0 4em;
}

.salmon {
    color: #FF6275;
}

h1, h2 {
    color: #000000;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

p a {
    color: #FF6275;
}

p a:active, p a:focus, p a:hover {
    color: #BA505D;
    text-decoration: underline;
}

p {
    line-height: 1.5em;    
    font-size: 0.95em;
    margin-bottom: 1em;
}

ul {
    list-style-type: circle;
}

ol {
    list-style: lower-roman;
}

img {
    max-width: 100%;
}

.row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
    margin-bottom: 4em;
}

.nav-bar {
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: baseline;
}

.logo {
    flex: 1 1;
}

.logo div {
    text-align: left;
}

.logo div:hover {
    color: #FF6275;
    transition: 0.3s;
}

.logo a {
    color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75em;
    letter-spacing: -0.03em;
}

.name {
    flex: 1 1;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.15px;
    padding: 1em;
    margin-right: auto;
}

.name a {
    color: #9c9c9c;
    text-decoration: none;
}

.name a:active, .name a:hover, .name a:focus {
    color: #1d1d1d;
}

.nav {
    flex: 2 1;
    text-align: right;
}

.nav a {
    font: 0.8em "Poppins", sans-serif;
    
    color: #9c9c9c;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1em;
}

.nav a:active, .nav a:focus, .nav a:hover {
    color: #1d1d1d;
}

#current-page {
    color: #FF6275;
}

.banner-title {
    text-align: left;
    flex: 1 1 100%;
    margin-top 8em;
    margin-bottom: 14em;
    margin-right: 25%;
    max-width: 56em;
}

.banner-title p {
    flex: 1 1 100%;
    font-size: 1.2em;
    font-style: italic;
    color: #808080;
}

.placeholder-fill {
    background-color: #FF6275;
}

.main-footer {
    padding: 2em 0;
    box-shadow: inset 2px 5px 10px rgba(58, 89, 118, 0.08);
        
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
} 

.main-footer h2 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0;
}

.main-footer p {
    font-size:0.85rem;
    margin: auto;
}



@media (min-width: 66em) {
    .contact {
        flex: 1 4 25%;
        margin-bottom: 1em;    
    }
    .status {
        flex: 1 4 25%;
        margin-bottom: 1em;
    }
    .links { 
        flex: 2 4 50%;
        margin-bottom: 1em;
    }
}

@media (max-width: 66em) {
    .contact {
        flex: 1 1 100%;
        
    }
    .status {
        flex: 1 1 100%;
        padding-top: 2em;
    }
    .links { 
        flex: 1 1 100%;
        padding-top: 2em;
    }
}



