/********************************************/
/************** START OF MAIN ***************/
/********************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #e4e4e4;
    max-width: 96em;
    margin: auto;
    
    background-size: 24em 24em;
    background-image: linear-gradient(90deg, #C9C9C9 0.1px, rgba(48, 48, 48, 0) 1px);
    background-position: left;
}

body {
    font-family: Helvetica, sans-serif;
    color: #1d1d1d;
}

h1, h2 {
    color: #000000;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

p a {
    color: #FF6275;
}

p a:active, p a:focus, p a:hover {
    color: #BA505D;
    text-decoration: underline;
}

p {
    line-height: 1.5em;    
    font-size: 0.95em;
    margin-bottom: 1em;
}

ul {
    list-style-type: circle;
}

ol {
    list-style: lower-roman;
}

img {
    max-width: 100%;
}

.row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
    margin-bottom: 4em;
}

.nav-bar {
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: baseline;
}

.logo {
    flex: 1 1;
}

.logo div {
    text-align: left;
}

.logo div:hover {
    color: #FF6275;
    transition: 0.3s;
}

.logo a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.name {
    flex: 1 1;
    text-align: center;
    font-weight: bold;
}

.name a {
    color: #1d1d1d;
    text-decoration: none;
}

.nav {
    flex: 1 1;
    text-align: right;
}

.nav a {
    font: 0.8em "Poppins", sans-serif;
    
    color: #9c9c9c;
    text-decoration: none;
    padding: 1em;
}

.nav a:active, .nav a:focus, .nav a:hover {
    color: #1d1d1d;
}

#current-page {
    color: #FF6275;
}

.banner-title {
    text-align: left;
    flex: 1 1 100%;
    margin-top 8em;
    margin-bottom: 14em;
}

.banner-title p {
    flex: 1 1 100%;
    font-size: 1.2em;
    font-style: italic;
    color: #808080;
}

.placeholder-fill {
    background-color: #FF6275;
}

.main-footer {
    box-shadow: inset 2px 5px 10px rgba(58, 89, 118, 0.08);
        
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
} 

@media (min-width: 66em) {.main-footer {padding: 2em 8.333333333%; }}
@media (max-width: 66em) {.main-footer {padding: 2em 12.5%; }}

.main-footer h2 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0;
}

.main-footer p {
    font-size:0.85rem;
    margin: auto;
}

.links { 
    flex: 1 1 100%;
    padding-top: 2.5em;
}

@media (min-width: 66em) {
    .contact {
        flex: 2 2 33.3333333%
    }
    .status {
        flex: 3 3 50%;
    }
}

@media (max-width: 66em) {
    .contact {
        flex: 1 1 100%;
        margin-bottom: 1em;
    }
    .status {
        flex: 1 1 100%;
    }
}

/*******************************************/
/*************** END OF MAIN ***************/
/*******************************************/

/********************************************/
/************** START OF WHAT ***************/
/********************************************/

.project-container {
    width: 100%;
    height: auto;
}
    
@media (max-width: 66em) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}

.project {
    text-align: left;
    
    position: relative;
    
    box-shadow: 5px 4px 25px rgba(55, 68, 113, 0.35), 
                -6px -7px 20px #FFFFFF,
                inset 4px 3px 12px rgba(58, 89, 118, 0.075), 
                inset -4px -3px 10px rgba(255, 255, 255, 0.1);
    
    transition: box-shadow 0.25s ease;
    
    background-color: #e4e4e4;
}

@media (min-width: 66em) { 
    .project {
        flex: 1 1 16.6666666667vw;

        max-width: 16.6666666667vw;
        max-height: 16.6666666667vw;

        min-width: 16.6666666667vw;
        min-height: 16.6666666667vw;

        border-radius: 10%/10%;
    }
}

@media (max-width: 66em) { 
     .project {
        flex: 1 1 100vw;

        max-width: 25vw;
        max-height: 25vw;

        min-width: 25w;
        min-height: 25vw;

        border-radius: 10%/10%;
        
        margin-bottom: 4em;
    }
}

@media (max-width: 45em) { 
    .project {
        flex: 1 1 100vw;

        max-width: 50vw;
        max-height: 50vw;

        min-width: 50w;
        min-height: 50vw;

        border-radius: 10%/10%;
        
        margin-bottom: 2em;
    }
}


.project:active, .project:focus, .project:hover {        
    box-shadow: 8px 7px 12px #FFFFFF, 
                -4px -5px 29px rgba(55, 68, 113, 0.35), 
                inset 4px 3px 25px rgba(10, 10, 10, .1);
    
    transition: box-shadow 0.25s ease;
}

.refuge {
    background-color: #FFBE83;
}

.mysurrey {
    background-color: #336CFF;
}

.the-peak {
    background-color: #FF6275;
}

.project img {
    border-radius: 10%/10%;
    
    opacity: 0.75;
    transition: opacity 0.25s ease;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     
    text-align: center;
    vertical-align: middle;
    
    opacity: 0;
    transition: opacity 0.25s ease;
}

.project-title h2, .project-title p {
    color: #1d1d1d;
    margin: 0;
}

.project:active img, .project:focus img, .project:hover img {
    opacity: 0.02;
}

.project:active .project-title, .project:focus .project-title, .project:hover .project-title {
    opacity: 1;
}

/*******************************************/
/*************** END OF WHAT ***************/
/*******************************************/

/************************************************/
/*************** START OF PROJECT ***************/
/************************************************/

/*
h2 {
    font-size: 1em;
    color: #484848;
    padding: 1em 0;
}
*/

h3 {
    font-size: 1em;
    font-weight: normal;
    color: #FF6275;
}

p {
    margin: 1em 0;
}

.info {
    z-index: 1;
}

.content {
    z-index: -1;
}

footer {
    z-index: 2;
}

@media (min-width: 66em) {
    .info {
        position: fixed;
        padding-right: 5px;
        max-width: 16.6666666667%;
        left: 8.3333333%;
    }
}

@media (max-width: 66em) {
    .info {
        padding-left: 12.5%;
        margin-bottom: 3em;
    }
}

.info h1 {
    margin-bottom: 1em;
}

.info h2 {
    padding-top: 3em;
}

.info p {
    color: #555555;
    margin: 0 0 0.2em 0;
}

.banner-container {
    width: 100%;
    height: auto;
    padding: 2em;
    margin-bottom: 2em;
    opacity: 0.8;
    
    position: relative;
}

.banner-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}

.content {
    text-align: left;
}

@media (min-width: 66em) { .content { padding-left: 25%;}}
@media (max-width: 66em) { .content { padding-left: 12.5%; }}
    
@media (min-width: 66em) { .context p { max-width: 41.6666666667vw; }}
@media (max-width: 66em) { .context p { max-width: 100%; margin-bottom: 3em;}}

@media (min-width: 66em) { 
    .context, .analysis, .reflection { padding-right: 16.66666667vw; /* 2/12 */ }
}
@media (max-width: 66em) { 
    .context, .analysis, .reflection { padding-right: 12.5vw; /* 1/8 */ }
}

.analysis, .wireframe, .reflection {
    margin-top: 5em;
}

@media (min-width: 66em) { .analysis-content { flex: 3 3 42.8571429%; /* 3/7 */ }}
@media (max-width: 66em) { .analysis-content { flex: 1 1 100%; /* 4/4 */ }}

.insights {
    margin: 2.5em 0 3em 0;
}

.insights h2, .insights p {
    color: #F38547;
}

.spacer {
    text-align: center;
    margin: 3em 0;
}

/** LIGHTBOX MARKUP written by Gregory Shier https://codepen.io/gschier/pen/HCoqh **/
/** Modified by Siloam Yeung **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox picture, .lightbox img, .lightbox figure, .lightbox video {
	/** Pad the lightbox image */
    position: fixed;
    max-width: 90vw;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/** END OF LIGHTBOX MARKUP **/

.h-scroll {    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-nowrap;
    flex-wrap: -ms-nowrap;
    flex-wrap: nowrap;

    overflow-x: scroll;
    -ms-overflow-style: none;
        
    padding: 0;
    margin: 0 0 auto 0;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.h-scroll::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
}

.card figcaption {
    font-size: 0.9em;
    color: #555555;
    line-height: 1.4em;
    
    margin-top: 1em;
}

.card figure {
    margin: 0;
    padding: 0;
}

.reflection {
    margin-bottom: 7em;
}

.proj-footer {
    margin: 0;
    padding: 0;
    
    background-color: #336CFF;
    
    height: 13em;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 2em;
    padding-left: 8.3333333%;
}

.proj-footer h3 {
    font-size: 1.8em;
    color: white;
}

.proj-footer p {
    margin-top: 0.25em;
    color: white;
}

.next-proj {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    justify-content: space-around;
}

.next-proj .arrow {
    flex: 1 1 16.666666%;
    max-width: 4.3333333vw;
    margin-top: 1em;
    
    margin-right: 12.3333333vw;
    transition: margin 0.5s ease-in-out;
}

.next-proj .text {
    flex: 2 2 33.3333333%
}

.proj-footer:active .arrow, .proj-footer:focus .arrow, .proj-footer:hover .arrow {
    margin-left: 10.3333333vw;   
    margin-right: 2vw;
}

.presentation-container {
    overflow: hidden;
    padding-top: 75%;
    position: relative;
}

.presentation-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/**********************************************/
/*************** END OF PROJECT ***************/
/**********************************************/


/********************************************/
/*************** START OF FIX ***************/
/********************************************/

.citations {
    flex: 1 1 100%;
}

.description {
    flex: 1 1 25%;
    padding-right: 8em;
}
    
.showcase {
    flex: 3 3 75%;
}

.proj {
    width: 75%;
    margin-bottom: 6em;
}

.proj img {
    width: 100%;
    height: 24em;
}

.proj-info {
    width: 100%;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    flex-flow: row;

    justify-content: flex-start;
}

.proj-info h2, .proj-info p {
    flex: 1 1 33.3%;
    padding-right: 1.5em;
    margin-top: 0;
}

.proj-info a p {
    color: #1d1d1d;
}

.tags {
    font: "Poppins", sans-serif;
    font-weight: medium;
    color: #9C9C9C;
}

.description h2 {
    margin-bottom: 1em;
}

.description .spacer {
    margin: 3em 0;
}

.buttons .showcase .project h2 {
    font-size: 1.5em;
    padding: 0;
}

.text .showcase h2 {
    font-size: 1em;
    color: #484848;
}

@media (min-width: 66em) {
    .text .showcase h2 {
        max-width: 12em;
    }
}

@media (max-width: 66em) {
    .text .showcase h1, .text .showcase h2, .text .showcase h3 {
        flex: 1 1 100%;
        padding: 1em 0;
    }
}

.colours .showcase div {
    min-height: 2em;
    line-height: 2em;
    padding: 5em;
    border-radius: 1em;
    margin-right: 2em;
}

.colours .showcase div:nth-child(1) { background-color: #e4e4e4; border: solid 0.25px #d2d2d2; }
.colours .showcase div:nth-child(2) { background-color: #d2d2d2; }
.colours .showcase div:nth-child(3) { background-color: #484848; color: #e4e4e4; }
.colours .showcase div:nth-child(4) { background-color: #1d1d1d; color: #e4e4e4; }
.colours .showcase div:nth-child(5) { background-color: #FFBE83; }
.colours .showcase div:nth-child(6) { background-color: #336CFF; }
.colours .showcase div:nth-child(7) { background-color: #FF6275; }

.imgs .showcase img {
    max-width: 6em;
}

.imgs .showcase #lightbox-demo img {
    max-width: 90vw;
}

.placeholder-fill {
        background-color: #FF6275;
}

/******************************************/
/*************** END OF FIX ***************/
/******************************************/