/*******************************************/
/************* START OF MAIN ***************/
/*******************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
     background-color: #e4e4e4;
}

body {
    font-family: Helvetica, sans-serif;
    color: #1d1d1d;
}

.bg-columns {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.col-line {
    background-color: #d2d2d2;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
}

@media (min-width: 66em) {
    
    .col-line:nth-last-child(1) {
        left: 8.33333333%; /* 1/12 */
    }

    .col-line:nth-last-child(2) {
        left: 25%; /* 3/12 */
    }

    .col-line:nth-last-child(3) {
        left: 41.6666667%; /* 5/12 */
    }

    .col-line:nth-last-child(4) {
        left: 58.3333333%; /* 7/12 */
    }

    .col-line:nth-last-child(5) {
        left: 75%; /* 9/12 */
    }

    .col-line:nth-last-child(6) {
        left: 91.6666667%; /* 11/12 */
    }

} 

@media (max-width: 66em) {
    
    .col-line:nth-last-child(1) {
        left: 12.5%; /* 1/8 */
    }

    .col-line:nth-last-child(2) {
        left: 37.5%; /* 3/8 */
    }

    .col-line:nth-last-child(3) {
        left: 62.5%; /* 5/8 */
    }

    .col-line:nth-last-child(4) {
        left: 87.5%; /* 7/8 */
    }

    .col-line:nth-last-child(5) {
        display: none;
    }

    .col-line:nth-last-child(6) {
        display: none;
    }
}

h1, h2 {
    color: #454545;
    margin: 0;
}

a {
    text-decoration: none;
}

p a {
    color: #FF6275;
}

p a:active, p a:focus, p a:hover {
    color: #BA505D;
    text-decoration: underline;
}

p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

ul {
    list-style-type: circle;
}

ol {
    list-style: lower-roman;
}

img {
    max-width: 100%;
}

.row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: space-around;
    margin-bottom: 2.5em;
}

.nav-bar {
    padding-top: 1.5em;
    padding-bottom: 3em;
}

.logo {
    position: fixed;
    left: 2.77777777778%;
}

.logo div {
    height: 2.5em;
    width: 2.5em;
    
    margin: auto;
    
    background: #F1F1F1;
    box-shadow: 5px 4px 18px rgba(55, 68, 113, 0.35), -6px -7px 14px #FFFFFF, inset 4px 3px 4px rgba(58, 89, 118, 0.08), inset -4px -3px 2px rgba(255, 255, 255, 0.08);
    border-radius: 77px;
    
    transition: 0.25s;
    
    text-align: center;
    line-height: 2.5em;
    
    letter-spacing: -0.05em;
}

.logo div:hover {
    box-shadow: none;
    transition: 0.3s;
}

.logo a {
    color: #B6B6B6;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.name {
    flex: 1 1 100%;
    text-align: center;
    font-weight: bold;
}

.name a {
    color: #1d1d1d;
    text-decoration: none;
}

.nav {
    position: fixed;    
    right: 0;
    text-align: right;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: space-around;
}

@media (min-width: 66em) { .nav {padding-right: 8.33333333%; /* 1/12 */ }}
@media (max-width: 66em) { .nav {padding-right: 12.5%; /* 1/8 */ }}

.nav a {
    flex: 1 1 100%;
    font-size: 0.9em;
    color: #9c9c9c;
    text-decoration: none;
    padding-bottom: 1em;
}

.nav a:active, .nav a:focus, .nav a:hover {
    color: #1d1d1d;
}

#current-page {
    color: #FF6275;
}

.banner-title {
    text-align: center;
    flex: 1 1 100%;
}

.banner-title p {
    flex: 1 1 100%;
    font-size: 1.2em;
    font-style: italic;
    color: #808080;
}

@media (min-width: 66em) { .banner-title {padding: 10em 8.3333333%; }}
@media (max-width: 66em) { .banner-title {padding: 6em 12.5%; }}

.placeholder-fill {
    background-color: #FF6275;
}

@media (min-width: 66em) { .project-container {margin-bottom: 25em; }}
@media (max-width: 66em) { .project-container {margin-bottom: 4em; }}

.main-footer {
    box-shadow: inset 2px 5px 10px rgba(58, 89, 118, 0.08);
        
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;

    justify-content: space-around;
} 

@media (min-width: 66em) {.main-footer {padding: 2em 8.333333333%; }}
@media (max-width: 66em) {.main-footer {padding: 2em 12.5%; }}

.main-footer h2 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0;
}

.main-footer p {
    font-size:0.85rem;
    margin: auto;
}

.links { 
    flex: 1 1 100%;
    padding-top: 2.5em;
}

@media (min-width: 66em) {
    .contact {
        flex: 2 2 33.3333333%
    }
    .status {
        flex: 3 3 50%;
    }
}

@media (max-width: 66em) {
    .contact {
        flex: 1 1 100%;
        margin-bottom: 1em;
    }
    .status {
        flex: 1 1 100%;
    }
}

/*******************************************/
/*************** END OF MAIN ***************/
/*******************************************/

/********************************************/
/************** START OF WHAT ***************/
/********************************************/

.project-container {
    width: 100%;
    height: auto;
}
    
@media (max-width: 66em) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}

.project {
    text-align: center;
    
    position: relative;
    
    box-shadow: 5px 4px 25px rgba(55, 68, 113, 0.35), 
                -6px -7px 20px #FFFFFF,
                inset 4px 3px 12px rgba(58, 89, 118, 0.075), 
                inset -4px -3px 10px rgba(255, 255, 255, 0.1);
    
    transition: box-shadow 0.25s ease;
    
    background-color: #e4e4e4;
}

@media (min-width: 66em) { 
    .project {
        flex: 1 1 16.6666666667vw;

        max-width: 16.6666666667vw;
        max-height: 16.6666666667vw;

        min-width: 16.6666666667vw;
        min-height: 16.6666666667vw;

        border-radius: 10%/10%;
    }
}

@media (max-width: 66em) { 
     .project {
        flex: 1 1 100vw;

        max-width: 25vw;
        max-height: 25vw;

        min-width: 25w;
        min-height: 25vw;

        border-radius: 10%/10%;
        
        margin-bottom: 4em;
    }
}

@media (max-width: 45em) { 
    .project {
        flex: 1 1 100vw;

        max-width: 50vw;
        max-height: 50vw;

        min-width: 50w;
        min-height: 50vw;

        border-radius: 10%/10%;
        
        margin-bottom: 2em;
    }
}


.project:active, .project:focus, .project:hover {        
    box-shadow: 8px 7px 12px #FFFFFF, 
                -4px -5px 29px rgba(55, 68, 113, 0.35), 
                inset 4px 3px 25px rgba(10, 10, 10, .1);
    
    transition: box-shadow 0.25s ease;
}

.refuge {
    background-color: #FFBE83;
}

.mysurrey {
    background-color: #336CFF;
}

.the-peak {
    background-color: #FF6275;
}

.project img {
    border-radius: 10%/10%;
    
    opacity: 0.75;
    transition: opacity 0.25s ease;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     
    text-align: center;
    vertical-align: middle;
    
    opacity: 0;
    transition: opacity 0.25s ease;
}

.project-title h2, .project-title p {
    color: #1d1d1d;
    margin: 0;
}

.project:active img, .project:focus img, .project:hover img {
    opacity: 0.02;
}

.project:active .project-title, .project:focus .project-title, .project:hover .project-title {
    opacity: 1;
}

/*******************************************/
/*************** END OF WHAT ***************/
/*******************************************/

/************************************************/
/*************** START OF PROJECT ***************/
/************************************************/

/*
h2 {
    font-size: 1em;
    color: #484848;
    padding: 1em 0;
}
*/

h3 {
    font-size: 1em;
    font-weight: normal;
    color: #FF6275;
}

p {
    margin: 1em 0;
}

.info {
    z-index: 1;
}

.content {
    z-index: -1;
}

footer {
    z-index: 2;
}

@media (min-width: 66em) {
    .info {
        position: fixed;
        padding-right: 5px;
        max-width: 16.6666666667%;
        left: 8.3333333%;
    }
}

@media (max-width: 66em) {
    .info {
        padding-left: 12.5%;
        margin-bottom: 3em;
    }
}

.info h1 {
    margin-bottom: 1em;
}

.info h2 {
    padding-top: 3em;
}

.info p {
    color: #555555;
    margin: 0 0 0.2em 0;
}

.banner-container {
    width: 100%;
    height: auto;
    padding: 2em;
    margin-bottom: 2em;
    opacity: 0.8;
    
    position: relative;
}

.banner-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
}

.content {
    text-align: left;
}

@media (min-width: 66em) { .content { padding-left: 25%;}}
@media (max-width: 66em) { .content { padding-left: 12.5%; }}
    
@media (min-width: 66em) { .context p { max-width: 41.6666666667vw; }}
@media (max-width: 66em) { .context p { max-width: 100%; margin-bottom: 3em;}}

@media (min-width: 66em) { 
    .context, .analysis, .reflection { padding-right: 16.66666667vw; /* 2/12 */ }
}
@media (max-width: 66em) { 
    .context, .analysis, .reflection { padding-right: 12.5vw; /* 1/8 */ }
}

.analysis, .wireframe, .reflection {
    margin-top: 5em;
}

@media (min-width: 66em) { .analysis-content { flex: 3 3 42.8571429%; /* 3/7 */ }}
@media (max-width: 66em) { .analysis-content { flex: 1 1 100%; /* 4/4 */ }}

.insights {
    margin: 2.5em 0 3em 0;
}

.insights h2, .insights p {
    color: #F38547;
}

.spacer {
    text-align: center;
    margin: 3em 0;
}

/** LIGHTBOX MARKUP written by Gregory Shier https://codepen.io/gschier/pen/HCoqh **/
/** Modified by Siloam Yeung **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox picture, .lightbox img, .lightbox figure, .lightbox video {
	/** Pad the lightbox image */
    position: fixed;
    max-width: 90vw;
    max-height: 90vh;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/** END OF LIGHTBOX MARKUP **/

.h-scroll {    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-nowrap;
    flex-wrap: -ms-nowrap;
    flex-wrap: nowrap;

    overflow-x: scroll;
    -ms-overflow-style: none;
        
    padding: 0;
    margin: 0 0 auto 0;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.h-scroll::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
}

.card figcaption {
    font-size: 0.9em;
    color: #555555;
    line-height: 1.4em;
    
    margin-top: 1em;
}

.card figure {
    margin: 0;
    padding: 0;
}

.reflection {
    margin-bottom: 7em;
}

.proj-footer {
    margin: 0;
    padding: 0;
    
    background-color: #336CFF;
    
    height: 13em;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding-top: 2em;
    padding-left: 8.3333333%;
}

.proj-footer h3 {
    font-size: 1.8em;
    color: white;
}

.proj-footer p {
    margin-top: 0.25em;
    color: white;
}

.next-proj {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    justify-content: space-around;
}

.next-proj .arrow {
    flex: 1 1 16.666666%;
    max-width: 4.3333333vw;
    margin-top: 1em;
    
    margin-right: 12.3333333vw;
    transition: margin 0.5s ease-in-out;
}

.next-proj .text {
    flex: 2 2 33.3333333%
}

.proj-footer:active .arrow, .proj-footer:focus .arrow, .proj-footer:hover .arrow {
    margin-left: 10.3333333vw;   
    margin-right: 2vw;
}

.presentation-container {
    overflow: hidden;
    padding-top: 75%;
    position: relative;
}

.presentation-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/**********************************************/
/*************** END OF PROJECT ***************/
/**********************************************/


/********************************************/
/*************** START OF FIX ***************/
/********************************************/

.citations {
    flex: 1 1 100%;
}

@media (min-width: 66em) { 
    .description {
        flex: 1 1 20%;
    }
    
    .showcase {
        flex: 4 4 80%;
    }
    
    .demo {
        padding: 0 8.33333333%;
    }
}

@media (max-width: 66em) { 
    .description {
        flex: 1 1 100%;
    }
    
    .showcase {
        flex: 1 1 100%;
    }
    
    .demo {
        padding: 0 12.5%;
    }
    
}

.description {
    padding-bottom: 3em;
    padding-right: 1em;
}

.description h2 {
    margin-bottom: 1em;
}

.description .spacer {
    margin: 3em 0;
}

.buttons .showcase .project h2 {
    font-size: 1.5em;
    padding: 0;
}

.text .showcase h2 {
    font-size: 1em;
    color: #484848;
}

@media (min-width: 66em) {
    .text .showcase h2 {
        max-width: 12em;
    }
}

@media (max-width: 66em) {
    .text .showcase h1, .text .showcase h2, .text .showcase h3 {
        flex: 1 1 100%;
        padding: 1em 0;
    }
}

.colours .showcase div {
    min-height: 2em;
    line-height: 2em;
    padding: 5em;
    border-radius: 1em;
    margin-right: 2em;
}

.colours .showcase div:nth-child(1) { background-color: #e4e4e4; border: solid 0.25px #d2d2d2; }
.colours .showcase div:nth-child(2) { background-color: #d2d2d2; }
.colours .showcase div:nth-child(3) { background-color: #484848; color: #e4e4e4; }
.colours .showcase div:nth-child(4) { background-color: #1d1d1d; color: #e4e4e4; }
.colours .showcase div:nth-child(5) { background-color: #FFBE83; }
.colours .showcase div:nth-child(6) { background-color: #336CFF; }
.colours .showcase div:nth-child(7) { background-color: #FF6275; }

.imgs .showcase img {
    max-width: 6em;
}

.imgs .showcase #lightbox-demo img {
    max-width: 90vw;
}

.placeholder-fill {
        background-color: #FF6275;
}

/******************************************/
/*************** END OF FIX ***************/
/******************************************/